@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <p class="fs-3">Options</p>

    <ul>
        <li><a asp-action="GetCustomers" asp-controller="Home">Customers</a></li>
        <li><a asp-action="GetVendors" asp-controller="Home">Vendors</a></li>
        <li><a asp-action="GetProducts" asp-controller="Home">Product</a></li>
        <li><a asp-action="GetPurchases" asp-controller="Home">Purchase</a></li>
        <li><a asp-action="Orders" asp-controller="Home">Orders</a></li>
        <li><a asp-action="ReturnOrders" asp-controller="Home">ReturnOrders</a></li>
    </ul>

</div>


